body {
    font-family: 'Architects Daughter', cursive !important;
}

#map {
    width: 100%;
    height: 70%;
    margin-top: 4.5%;
}

.margin_input {
    margin-top: 5%;
    
}

.store_info {
    margin-top: 30px !important;
    margin-right: 5%;
}

.name {
    color: rgb(209, 69, 69);
    font-size: 24px;
}

.address {
    font-size: 20px;
}
.scrollbar {
    background-color: white;
    float: left;
    height: 70%;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 100%;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}



#style-13::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    margin-right: 10px;
}

.background-color {
    background-color: rgb(243, 236, 219);
    background-image: url('pictures/shoe-store-locator-logo.png') ;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
   
}

#style-13::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(213, 92, 90);
    
}

.header {
    color: rgb(213, 92, 90) !important;
}

.title {
    font-size: 48px !important;
}

#directions {
    position: absolute;
    margin-top: 50%;
    margin-left: 3%;
    height: 20%;
    width: 25%;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(243, 236, 219, 0.6);
    overflow-y: scroll;
    font-family: sans-serif;
    color: black;
  }

  .para_content {
      border: 2px solid rgb(213, 92, 90);
      height:  6%;
      width: 90%;
      font-size: 20px;
      text-align: center;
  }

  .para_content p {
      margin-top: 0;
  }